@import "tailwindcss";
@theme {
  --color-primary: #731300;
  --color-secondary: #736900;


  --container-center: true;
  --container-padding: 2rem;
}
 @media (width >= 640px) {
    /* sm */
    --container-padding: 2rem;
  }


  @media (width >= 1024px) {
    /* lg */
    --container-padding: 4rem;
  }


  @media (width >= 1280px) {
    /* xl */
    --container-padding: 5rem;
  }

